html {
    height: 100%;
}
body {
    height: 100%;
	min-height: 100%;
	min-width: 100%;
    margin: 0;
	padding: 0;
	background-color: #37474F;
	background: linear-gradient(0deg, #05abe0 0%,#53cbf1 60%,#87e0fd 100%);
	font-family: 'Roboto', sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    text-align:left;
    margin-right:-4px;
}
.header {
	color:#FFFFFF;
	font-family: 'Roboto Slab', sans-serif;
	text-align: center;
	margin: 50px 0;
}
.logo {
	width: 100%;
	max-width: 600px;
}

.row.displayFlex {
  display: flex;
  flex-wrap: wrap;
}
.row.displayFlex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

.teamContainer {
	padding: 10px;
}

.card {
	background-color: #FFFFFF;
	border-radius: 4px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.teamCard {
	width: 100%;
	min-height: 400px;
	max-width: 400px;
	margin: 0 auto;
}

.teamImage {
	width: 100%;
	padding: 20px;
	text-align: center;
}

.teamImage .imageMask {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	overflow: hidden;
	margin: 0px auto;
}

.teamImage img {
	width: 150px;
	min-height: 150px;
}

.teamName {
	padding: 0 20px;
	text-align: center;
	color: #212121;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 20px;
}

.teamSectionHeader {
	width: 100%;
	font-weight: bold;
	color: #05abe0;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-transform: uppercase;
}

.teamInfo {
	padding: 20px;
	text-align: left;
	color: #212121;
	font-size: 16px;
	line-height: 1.5;
}

.teamInfo a, .profileLinks a {
	text-decoration: underline;
	color: #05abe0;
}

.aboutButton {
	display: inline-block;
	margin: 0 auto;
	background-color: #05abe0;
	color: #FFFFFF !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    padding: 15px;
	text-align: center;
	line-height: 1;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none !important;
    letter-spacing: 1px;
    font-size: 14px;
}

.aboutUs {

}

.aboutCard {
	margin: 50px 20px 60px;
	padding: 20px;
	text-align: left;
	color: #212121;
}

.aboutTitle {
	width: 100%;
	margin-bottom: 10px;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 24px;
}

.navCol {
	padding: 10px;
}

nav.navbar {
	font-family: 'Roboto', sans-serif;
}

nav.navbar a {
	text-decoration: none;
}

li.active {
	font-weight: bold;
}

/***********************************
* Individual pages
***********************************/

.profileRow {
    margin-bottom: 50px;
}

.profileCol {
	padding: 5px;
}

.profilePhotoCol {
	text-align: center;
	color: #FFFFFF;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 26px;
	line-height: 1;
}

.profilePhotoMask {
	width: 100%;
	max-width: 200px;
	border-radius: 50%;
	overflow: hidden;
	margin: 0px auto;
	box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.4);
}

.profilePhotoMask img {
	width: 100%;
}

.profileBio, .profileSkills, .profileLinks {
    margin: 5px;
	padding: 20px;
	color: #212121;
}

.profileTitle {
	display: block;
	font-size: 24px;
	font-weight: bold;
}

.gameCard {
	padding: 20px;
	text-align: center;
	color: #aaaaaa;
	font-size: 20px;
}